@model IEnumerable<AdvanceUMS.Models.procGetClearanceList_Result>
@{
    AdvanceUMS.Helper.GeneralHelper dHelper = new AdvanceUMS.Helper.GeneralHelper();
    string s = dHelper.year();
}
<div class="box-body">
    <section class="content">
        @using (Html.BeginForm("Index", "tblClearance", FormMethod.Get))
        {
            <div class="row">



                <div class="col-8">


                    @Html.Raw(ViewBag.Message)
                    <div class="box box-primary">




                        <div class="box-body">

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Filter By Year</label>
                                        <select name="year" class="form-control">
                                            <option value=""></option>
                                            @foreach (var item in ViewBag.yearList)
                                            {
                                                <option value="@item.Text">@item.Text</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group" style="padding-top: 28px;">
                                        <label></label>
                                        <button data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing" type="submit" class=" btn btn-primary">Search</button>

                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>




                </div>




            </div>
        }
    </section>

    <span id="message"></span>
    @Html.Raw(ViewBag.Message)


    @if (ViewBag.contractorCode == null && ViewBag.engineer == null)
    {
        <div class="table-responsive">


            <table id="tblWorker" class="table">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Worker Id</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Age</th>
                        <th>Trade</th>
                        <th>Department</th>
                        <th>Area</th>

                        <th>Supervisor</th>
                        <th>Engineer</th>

                        <th>Shift</th>
                        <th>Dehire Date</th>
                        <th>FeedBack</th>
                        <th>Clearance Date</th>
                        <th>Tool Room Remaks</th>
                        <th>Engr Clearance Date</th>
                        <th>Engineer Remaks</th>
                        <th>Contractor Clrnce Date</th>
                        <th>Contractor Remaks</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int sn = 1;
                    }
                    @foreach (var item in Model)
                    {
                    <tr>
                        @*@if (item.vbrPicture != null)
        {
            var base64 = Convert.ToBase64String(item.vbrPicture);
            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
            <td><img class="img-circle" width="70" height="70" src="@imgSrc" /></td>
        }
        else
        {
            <td></td>
        }*@
                        <td>@sn</td>
                        <td>@item.strWorkderId</td>
                        <td>
                            @item.strName
                        </td>
                        <td>@item.strContact</td>
                        <td>@item.intAge</td>

                        <td>@item.strTradeName</td>


                        <td>@item.strDepartmentName</td>


                        <td>@item.strAreaName</td>

                        <td>@item.strSupervisorName</td>


                        <td>@item.strEngineerName</td>





                        <td>@item.strShiftName</td>
                        <td>@item.dtDehire</td>
                        <td>@item.strFeedback</td>
                        <td>@item.dtClearanceRemarks</td>
                        <td>@item.strClearanceRemarks</td>
                        <td>@item.dtEngineerRemarks</td>
                        <td>@item.strEngineeerRemarks</td>
                        <td>@item.dtContractorRemarks</td>
                        <td>@item.strContractotRemarks</td>


                        @{
                            if (Convert.ToInt32(item.WrokerYear) < Convert.ToInt32(s))
                            {
                                if (item.bolIsClearance == false || item.bolIsClearance == null)
                                {
                                    <td>
                                        <a style="background-color:gray; color: white;" title="Disabled" onclick="return false;"  class="btn btn-outline-primary btn-sm"><i class="fa fa-check"></i> Clear</a>
                                    </td>
                                }
                                else
                                {
                                    <td>  <span style="        color: red">Cleared</span></td>
                                }
                            }
                            else
                            {
                                if (item.bolIsClearance == false || item.bolIsClearance == null)
                                {
                                    <td>
                                        <a onclick="modalForClearanceRemarks('@item.uqId')" class="btn btn-outline-primary btn-sm"><i class="fa fa-check"></i> Clear</a>
                                    </td>
                                }
                                else
                                {
                                    <td>  <span style="        color: red">Cleared</span></td>
                                }

                            }

                        }



                    </tr>
                        sn++;
                    }
                </tbody>
            </table>
        </div>
    }
    else if (ViewBag.engineer != null)
    {
        <table id="tblWorker">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Worker Id</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Age</th>
                    <th>Trade</th>
                    <th>Department</th>
                    <th>Area</th>

                    <th>Supervisor</th>
                    <th>Engineer</th>

                    <th>Shift</th>

                    <th>Dehire Date</th>
                    <th>FeedBack</th>
                    <th>Clearance Date</th>
                    <th>Tool Room Remaks</th>
                    <th>Engr Clearance Date</th>
                    <th>Engineer Remaks</th>
                    <th>Contractor Clrnce Date</th>
                    <th>Contractor Remaks</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sn = 1;
                }
                @foreach (var item in Model)
                {
                <tr>
                    @*@if (item.vbrPicture != null)
        {
            var base64 = Convert.ToBase64String(item.vbrPicture);
            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
            <td><img class="img-circle" width="70" height="70" src="@imgSrc" /></td>
        }
        else
        {
            <td></td>
        }*@
                    <td>@sn</td>
                    <td>@item.strWorkderId</td>
                    <td>
                        @item.strName
                    </td>
                    <td>@item.strContact</td>
                    <td>@item.intAge</td>

                    <td>@item.strTradeName</td>


                    <td>@item.strDepartmentName</td>


                    <td>@item.strAreaName</td>

                    <td>@item.strSupervisorName</td>


                    <td>@item.strEngineerName</td>



                    <td>@item.strShiftName</td>
                    <td>@item.dtDehire</td>
                    <td>@item.strFeedback</td>
                    <td>@item.dtClearanceRemarks</td>
                    <td>@item.strClearanceRemarks</td>
                    <td>@item.dtEngineerRemarks</td>
                    <td>@item.strEngineeerRemarks</td>
                    <td>@item.dtContractorRemarks</td>
                    <td>@item.strContractotRemarks</td>


                    @{
                        if (Convert.ToInt32(item.ClearanceYear) < Convert.ToInt32(s))
                        {
                            if (item.dtEngineerRemarks == null)
                            {
                                <td>
                                    <a style="background-color:gray; color: white;" title="Disabled" onclick="return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-check"></i> Clear</a>
                                </td>
                            }
                            else
                            {
                                <td>  <span style="        color: red">Cleared</span></td>
                            }
                        }
                        else
                        {
                            if (item.dtEngineerRemarks == null)
                            {
                                <td>
                                    <a onclick="modalForEngineerClearanceRemarks('@item.uqClearanceCode')" class="btn btn-outline-primary btn-sm"><i class="fa fa-check"></i> Clear</a>
                                </td>
                            }
                            else
                            {
                                <td>  <span style="        color: red">Cleared</span></td>
                            }
                        }

                    }



                </tr>
                    sn++;
                }
            </tbody>
        </table>

    }
    else if (ViewBag.contractorCode != null)
    {
        <table id="tblWorker">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Worker Id</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Age</th>
                    <th>Trade</th>
                    <th>Department</th>
                    <th>Area</th>

                    <th>Supervisor</th>
                    <th>Engineer</th>

                    <th>Shift</th>
                    <th>Dehire Date</th>
                    <th>FeedBack</th>
                    <th>Clearance Date</th>
                    <th>Tool Room Remaks</th>
                    <th>Engr Clearance Date</th>
                    <th>Engineer Remaks</th>
                    <th>Contractor Clrnce Date</th>
                    <th>Contractor Remaks</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sn = 1;
                }
                @foreach (var item in Model)
                {
                <tr>
                    @*@if (item.vbrPicture != null)
        {
            var base64 = Convert.ToBase64String(item.vbrPicture);
            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
            <td><img class="img-circle" width="70" height="70" src="@imgSrc" /></td>
        }
        else
        {
            <td></td>
        }*@
                    <td>@sn</td>
                    <td>@item.strWorkderId</td>
                    <td>
                        @item.strName
                    </td>
                    <td>@item.strContact</td>
                    <td>@item.intAge</td>

                    <td>@item.strTradeName</td>


                    <td>@item.strDepartmentName</td>


                    <td>@item.strAreaName</td>

                    <td>@item.strSupervisorName</td>


                    <td>@item.strEngineerName</td>




                    <td>@item.strShiftName</td>
                    <td>@item.dtDehire</td>

                    <td>@item.strFeedback</td>
                    <td>@item.dtClearanceRemarks</td>
                    <td>@item.strClearanceRemarks</td>
                    <td>@item.dtEngineerRemarks</td>
                    <td>@item.strEngineeerRemarks</td>
                    <td>@item.dtContractorRemarks</td>
                    <td>@item.strContractotRemarks</td>


                    @{
                        if (Convert.ToInt32(item.ClearanceYear) < Convert.ToInt32(s))
                        {
                            if (item.dtContractorRemarks == null)
                            {
                                <td>
                                    <a style="background-color:gray; color: white;" title="Disabled" onclick="return false;"class="btn btn-outline-primary btn-sm"><i class="fa fa-check"></i> Clear</a>
                                </td>
                            }
                            else
                            {
                                <td>  <span style="        color: red">Cleared</span></td>
                            }
                        }
                        else
                        {
                            if (item.dtContractorRemarks == null)
                            {
                                <td>
                                    <a onclick="modalForContractorClearanceRemarks('@item.uqClearanceCode')" class="btn btn-outline-primary btn-sm"><i class="fa fa-check"></i> Clear</a>
                                </td>
                            }
                            else
                            {
                                <td>  <span style="        color: red">Cleared</span></td>
                            }

                        }

                    }



                </tr>
                    sn++;
                }
            </tbody>
        </table>

    }
</div>
<div id="myModallContractor" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing" type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Contractor Remarks</h4>
            </div>
            @using (Html.BeginForm("UpdateContractorClearance", "tblClearance", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="strWorkerId">Remarks</label>
                        <textarea class="form-control" id="strContractorRemarks" name="strContractotRemarks" placeholder="Remarks"></textarea>
                        <input type="hidden" class="form-control" name="uqClearanceCode" id="uqWorkercontCode" placeholder="WorkerId" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing" class="btnSubmit engineerbtn btn btn-primary">Update</button>
                    <button data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>


    </div>
</div>

<div id="myModallEngineer" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing" type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Engineer Remarks</h4>
            </div>
            @using (Html.BeginForm("UpdateEngineerClearance", "tblClearance", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="strWorkerId">Remarks</label>
                        <textarea class="form-control" id="strEngineeerRemarks" name="strEngineeerRemarks" placeholder="Remarks"></textarea>
                        <input type="hidden" class="form-control" name="uqClearanceCode" id="uqWorkerengCode" placeholder="WorkerId" />
                        <label for="strWorkerId">Feedback</label>
                        <select title="Select Feedback" name="strFeedback" class="form-control">
                            <option value="Excellent">Excellent</option>
                            <option value="Very Good">Very Good</option>
                            <option value="Average">Average</option>
                            <option value="Poor">Poor</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing"  class=" btnSubmit engineerbtn btn btn-primary">Update</button>
                    <button data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>


    </div>
</div>

<div id="myModall" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing" type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Clearnace Remarks</h4>
            </div>
            @using (Html.BeginForm("InsertClearance", "tblClearance", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="strWorkerId">Remarks</label>
                        <textarea class="form-control" id="strClearanceRemarks" name="strClearanceRemarks" placeholder="Remarks"></textarea>
                        <input type="hidden" class="form-control" name="uqWorkerCode" id="uqWorkerCode" placeholder="WorkerId" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing"  class=" engineerbtn btn btn-primary">Update</button>
                    <button data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>


    </div>
</div>

@*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>




<script src="/scripts/Common.js"></script>
<script>
    function modalForContractorClearanceRemarks(uqWorkerCode) {


        $('#strContractorRemarks').css('border-color', 'lightgrey');


        $('#uqWorkercontCode').val(uqWorkerCode);



        $('#myModallContractor').modal('show');



    }
    function modalForEngineerClearanceRemarks(uqWorkerCode) {


        $('#strEngineeerRemarks').css('border-color', 'lightgrey');


        $('#uqWorkerengCode').val(uqWorkerCode);



        $('#myModallEngineer').modal('show');



    }


    function modalForClearanceRemarks(uqWorkerCode) {


        $('#strClearanceRemarks').css('border-color', 'lightgrey');


        $('#uqWorkerCode').val(uqWorkerCode);



        $('#myModall').modal('show');



    }

    $(document).ready(function () {
        //$('#tblWorker').DataTable({
        //   pageLength: '1000000',
        //    dom: 'Bfrtip',
        //    buttons: [

        //        'excelHtml5',

        //        'pdfHtml5'
        //    ]
        //});
        $('#tblWorker').DataTable({
            dom: "Bfrtip",
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            pageLength: 2000,
            buttons: ['excel', 'colvis'],
            fixedColumns: {
                leftColumns: 2
            }
        });

        $('.showHideColumn').on('click', function (e) {
            e.preventDefault();

            // Get the column API object
            var column = table.column($(this).attr('data-columnindex'));

            // Toggle the visibility
            column.visible(!column.visible());
        });
    });
    $(document).ready(function () {
        $("#tblUser").DataTable({
            responsive: true
        });
        $('.delete').click(function () {
            var url = $(this).data('url');
            $.get(url, function (data) {
                if (data.success == "0") {
                    $('#tblUser').load(data.url);
                    $("#tblUser").DataTable();
                    $('#message').html(data.message);
                }
                else if (data.success == "3") {
                    $('#message').html(data.message);
                }
            });
            return false;
        });
    });
</script>